ul {
  width: 100px;
  height: 150px;
  background-color: lightgoldenrodyellow;
  display: inline-block;
  margin-left: 20px;
  padding: 20px;
  list-style-type: none;
}

li a {
  display: inline-block;
  text-decoration: none;
  color: black;
  padding: 12px 15px;
  text-align: center;
}

li a:hover,
.dropdown:hover .dropbtn {
  background-color: green;
  color: white;
}

.dropdown-content {
  display: none;

  position: absolute;
  background-color: #f7fff8;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: inline-block;
  width: 30px;
  margin-right: 100px;
}
